.reviewsSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  flex: 0.5;
}

.reviewCard {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1.5rem;
}

.reviewHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 4px;
}

.comment {
  color: var(--text);
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.initials {
  color: var(--button);
  padding: 15px 21px;
  background-color: var(--badges);
  border-radius: 60px;
}
